<h1><%= @club.name %></h1>
<p>Localisation : <%= @club.location %></p>


<%= image_tag @club.image if @club.image.attached? %>


<h2>Caméras</h2>
<%= link_to "Ajouter une caméra", new_club_camera_path(@club), class: "btn btn-primary" %>

<ul>
  <% @club.cameras.each do |camera| %>
    <li>
        <p>
    Caméra : <%= link_to camera.live_input_id, club_camera_path(@club, camera) %>
  </p>
      <strong>Caméra :</strong> <%= camera.live_input_id %>
      <br>
      <strong>Flux RTMP :</strong> <%= camera.rtmp_url %>
      <br>
      <strong>Playback URL :</strong> <%= camera.playback_url %>
      <br>
      <%= link_to "Supprimer", club_camera_path(@club, camera), method: :delete, data: { confirm: "Êtes-vous sûr ?" }, class: "btn btn-danger" %>
    </li>
  <% end %>
</ul>
