<div id="<%= dom_id contact_club %>">
  <p class="my-5">
    <strong class="block font-medium mb-1">Nom:</strong>
    <%= contact_club.nom %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Prenom:</strong>
    <%= contact_club.prenom %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Telephone:</strong>
    <%= contact_club.telephone %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Mail:</strong>
    <%= contact_club.mail %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Civilite:</strong>
    <%= contact_club.civilite %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Qualite:</strong>
    <%= contact_club.qualite %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Club:</strong>
    <%= contact_club.club_id %>
  </p>

</div>
