<h1>Caméra : <%= @camera.id %></h1>
<p>Flux RTMP : <%= @camera.rtmp_url %></p>
<p>URL de lecture : <%= @camera.playback_url %></p>
<p>live input id : <%= @camera.live_input_id %></p>

<h2>Actions d'enregistrement :</h2>
<%= form_with url: start_recording_club_camera_path(@camera.club, @camera), method: :post, class: "d-inline" do %>
  <%= button_tag "Démarrer l'enregistrement", class: "btn btn-success", data: { confirm: "Êtes-vous sûr de vouloir démarrer l'enregistrement ?" } %>
<% end %>

<%= form_with url: stop_recording_club_camera_path(@camera.club, @camera), method: :post, class: "d-inline" do %>
  <%= button_tag "Arrêter l'enregistrement", class: "btn btn-danger", data: { confirm: "Êtes-vous sûr de vouloir arrêter l'enregistrement ?" } %>
<% end %>

<h2>Flux en direct :</h2>
<div style="position: relative; padding-top: 56.25%; mb-4 ml-4">
  <iframe
    src="https://customer-e2m7xf8yvrs8kche.cloudflarestream.com/<%= @camera.live_input_id %>/iframe"
    style="border: none; position: absolute; top: 0; left: 0; height: 100%; width: 100%;"
    allow="accelerometer; gyroscope; autoplay; encrypted-media; picture-in-picture;"
    allowfullscreen="true">
  </iframe>
</div>

<h2>Enregistrements disponibles :</h2>
<% if @recordings.present? %>
  <ul>
    <% @recordings.each do |recording| %>
      <li>
        <strong>Nom :</strong> <%= recording.dig("meta", "name") || "Sans nom" %><br>
        <strong>Créé le :</strong> <%= recording["created"] %><br>
        <strong>Durée :</strong> <%= (recording["duration"].to_f / 60).round(2) %> minutes<br>
        <div style="position: relative; padding-top: 56.25%; margin-top: 10px;">
          <iframe
            src="<%= recording["preview"] %>"
            style="border: none; position: absolute; top: 0; left: 0; height: 30%; width: 30%;"
            allow="accelerometer; gyroscope; autoplay; encrypted-media; picture-in-picture;"
            allowfullscreen="true">
          </iframe>
        </div>
      </li>
    <% end %>
  </ul>
<% else %>
  <p>Aucun enregistrement disponible pour cette caméra.</p>
<% end %>

<h2>Programmer un enregistrement :</h2>
<%= form_with model: [@camera, ScheduledRecording.new], url: club_camera_scheduled_recordings_path(@camera.club, @camera), local: true do |form| %>
  <div>
    <%= form.label :start_time, "Date et heure de début" %>
    <%= form.datetime_local_field :start_time, required: true %>
  </div>
  <div>
    <%= form.label :end_time, "Date et heure de fin" %>
    <%= form.datetime_local_field :end_time, required: true %>
  </div>
  <%= form.submit "Programmer", class: "btn btn-primary" %>
<% end %>


<h2>Enregistrements programmés :</h2>
<% if @camera.scheduled_recordings.any? %>
  <ul>
    <% @camera.scheduled_recordings.each do |recording| %>
      <li>
        <strong>Début :</strong> <%= recording.start_time %><br>
        <strong>Fin :</strong> <%= recording.end_time %><br>
        <strong>Statut :</strong> <%= recording.status %>
      </li>
    <% end %>
  </ul>
<% else %>
  <p>Aucun enregistrement programmé.</p>
<% end %>
